body {
    font-family: Arial, sans-serif;
    background-color: #724ab8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    text-align: center;
}

#city-form {
    margin-bottom: 20px;
}

#city-input, #state-input {
    padding: 10px;
    width: 30%;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #3794f8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

button::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid black;
    border-radius: 5px;
    pointer-events: none;
}

button:hover {
    background-color: #0056b3;
}

#current-weather, #forecast, #search-history {
    margin-top: 20px;
}

.weather-card {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}

.weather-icon {
    width: 50px;
    height: 50px;
}

#forecast {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.forecast-card {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 18%;
    box-sizing: border-box;
    text-align: center;
}